<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Enabled.png</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orangebananaspy.organicemojiscrubber</string>
			<key>key</key>
			<string>_Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Animation Duration</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Duration.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Animation Duration</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.orangebananaspy.organicemojiscrubber</string>
			<key>key</key>
			<string>_Duration</string>
			<key>id</key>
			<string>_Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Spring Damping</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Damping.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Spring Damping</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>default</key>
			<real>0.8</real>
			<key>defaults</key>
			<string>com.orangebananaspy.organicemojiscrubber</string>
			<key>key</key>
			<string>_Damping</string>
			<key>id</key>
			<string>_Damping</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Initial Velocity</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>InitVelocity.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Initial Velocity</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.orangebananaspy.organicemojiscrubber</string>
			<key>key</key>
			<string>_Velocity</string>
			<key>id</key>
			<string>_Velocity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restore To Defaults</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>RestoreToDefault.png</string>
			<key>action</key>
			<string>restoreToDefaults</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Respring.png</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>Organic Emoji Scrubber</string>
</dict>
</plist>
